<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Test page</title>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="css/app.css">

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- main bootstrap file     -->
    <script data-main="js/fakeportal.js" src="vendor/requirejs/require.js"></script>
<!--    <script data-main="../fp.build.js" src="vendor/requirejs/require.js"></script> -->

  </head>
  <body>

    <div class="row">
      <div class="twelve columns">
	<h1>Fake Portal</h1>
	<hr />
      </div>
    </div>

    <div class="row">
      <div class="eight columns">
	<h2>Services</h2>

        <section class="row">
          
          <!-- library -->
          <section id="library" class="six columns">
            <h3>Library</h3>
            <div class="panel">
              <p>Library info about current loans etc. appear here</p>
            </div>
          </section>
          <!-- moodle -->
          <section id="moodle" class="six columns">
            <h3>Moodle</h3>
            <div class="panel">
              <p>Moodle info to appear here</p>
            </div>
          </section>

        </section>

	<h3>Tabs</h3>
	<dl class="tabs">
	  <dd class="active"><a href="#simple1">Simple Tab 1</a></dd>
	  <dd><a href="#simple2">Simple Tab 2</a></dd>
	  <dd><a href="#simple3">Simple Tab 3</a></dd>
	</dl>

	<ul class="tabs-content">
	  <li class="active" id="simple1Tab">This is simple tab 1's content. Pretty neat, huh?</li>
	  <li id="simple2Tab">This is simple tab 2's content. Now you see it!</li>
	  <li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
	</ul>


      </div>
      <div class="four columns">
	<h4>About you</h4>
        <section id="about">
	  <p>Info about you to appear here</p>
        </section>
      </div>
    </div>

<!-- templates follow (should these be in files for require?)-->
<script type="text/template" id="course-template">
  <a href="#" title="link to moodle?"><%= fullname %></a>
</script>

<script type="text/template" id="course-table-template">
  <td><%= id %></td>
  <td><%= shortname %></td>
  <td><%= fullname %></td>
  <td><%= enrolledusercount %></td>
  <td><%= visible %></td>
  <td><%= showgrades %></td>
</script>

<script type="text/template" id="calendar-template">
  <span class="dtstart"><%= start_date %></span> <%= start_time %> <span class="summary"><%= SUMMARY %></span>
</script>

<script type="text/template" id="calendar-table-template">
  <td><%= SUMMARY %></td>
  <td><%= DESCRIPTION %></td>
  <td><%= start_date %></td>
  <td><%= start_time %></td>
</script>

<script type="text/template" id="book-template">
  <a href="<%= predictableURL %>"><%= title %></a> (<%= callNumber %>)<br />
    since: <% print(FP.Helpers.atomDateParser(dateCheckedOut)); %>, 
      due on: <% print(FP.Helpers.atomDateParser(dueDate)); %>
</script>

<script type="text/template" id="book-table-template">
  <td><%= title %></td>
  <td><%= dueDate %></td>
  <td><%= callNumber %></td>
  <td><%= predictableURL %></td>
  <td><%= dateCheckedOut %></td>
</script>

<script type="text/template" id="fine-template">
  <% print(FP.Helpers.atomDateParser(datePaid)); %>, paid £<%= amountPaid %> for 
    <a href="<%= predictableURL %>"><%= itemTitle %></a> (<%= chargeType %>)<br />
      <%= description %>    
</script>

<script type="text/template" id="fine-table-template">
  <td><%= amountPaid %></td>
  <td><%= chargeType %></td>
  <td><% print(FP.Helpers.atomDateParser(datePaid)); %></td>
  <td><%= description %></td>
  <td><% print(FP.Helpers.atomDateParser(itemCheckoutDate)); %></td>
  <td><% print(FP.Helpers.atomDateParser(itemDateReturned)); %></td>
  <td><% print(FP.Helpers.atomDateParser(itemDueDate)); %></td>
  <td><%= itemLoanRule %></td>
  <td><%= itemRecordNum %></td>
  <td><a href="<%= predictableURL %>"><%= itemTitle %></a></td>
</script>

<script type="text/template" id="hold-template">
  <% print(FP.Helpers.atomDateParser(timeHoldPlaced)); %> 
    <a href="<%= predictableURL %>"><%= title %></a> requested between 
      <% print(FP.Helpers.atomDateParser(notWantedBefore)); %> - 
        <% print(FP.Helpers.atomDateParser(notWantedAfter)); %> from 
          <%= pickupLocationMeaning %>
</script>

<script type="text/template" id="hold-table-template">
  <td><% print(FP.Helpers.atomDateParser(notWantedAfter)); %></td>
  <td><% print(FP.Helpers.atomDateParser(notWantedBefore)); %></td>
  <td><%= pickupLocationMeaning %></td>
  <td><% print(FP.Helpers.atomDateParser(timeHoldPlaced)); %></td>
  <td><a href="<%= predictableURL %>"><%= title %></a></td>
</script>

  </body>
</html>
