<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Test page</title>

    <!-- Included CSS Files -->
    <!--link rel="stylesheet" href="//s1.dev.city.ac.uk/css/website.css"-->
    <link rel="stylesheet" href="css/app.css">
    <style type="text/css">
      #working, #error {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1em 2em;
        background: #eee;
        display: none;
        color: #0f0;
      }
      #error {
        color: #f00;
        top: auto;
        bottom: 0;
      }
    </style>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- main bootstrap file     -->
    <script data-main="js/fakeportal.js" src="vendor/requirejs/require.js"></script>
<!--    <script data-main="../fp.build.js" src="vendor/requirejs/require.js"></script> -->

  </head>
  <body>
    <header class="row">
        <ul class="clearfix" id="cross-domain-nav">
            <li><a href="http://www.city.ac.uk/" title="City Unversity London homepage">city.ac.uk</a></li>
            <li><a href="https://outweb.city.ac.uk/" title="University web email">Email</a></li>
            <li><a href="http://moodle.city.ac.uk/" title="Virtual Learning Environment">Moodle</a></li>
            <li><a href="http://www.city.ac.uk/library/">Library</a></li>
            <li><a href="https://intranet.city.ac.uk/students/">Student Intranet</a></li>
            <li class="active"><a href=""><strong>Student Gateway (Beta)</strong></a></li>
            <li><a href="https://intranet.city.ac.uk/staff/">Staff Intranet</a></li>
        </ul>

        <div id="mast1" class="cul-supplied clearfix">
            <a id="global-nav-toggler" href="#global-nav-reponsive"><span class="icon-responsive-nav"></span><span class="text">Menu</span></a>
            <ul id="global-nav1" class="clearfix">
                <li class="courses"><a id="course-nav" href="http://www.city.ac.uk/courses">Academic Resources</a></li>
                <li><a class="mega" id="course-nav" href="http://www.city.ac.uk/courses">Enrolment & Administration</a></li>
                <li><a class="mega" id="course-nav" href="http://www.city.ac.uk/courses">Health & Wellbeing</a></li>
                <li><a class="mega" id="course-nav" href="http://www.city.ac.uk/courses">Student Support</a></li>
                <li><a class="mega" id="course-nav" href="http://www.city.ac.uk/courses">Careers & Employment</a></li>
            </ul><!-- search-->

            <form id="search" method="get" action="http://www.city.ac.uk/search?">
                <p>
                    <label for="query">Search Website</label>
                    <input type="text" name="query" value="" id="query" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                    <input type="hidden" name="collection" value="main-all">
                    <input type="submit" value="Search" class="s-button" id="s-button">
                </p>
            </form>         
        </div><!--#mast1-->
        <h1 id="logo">
            <a href="/">
                <span class="hidden">Home</span>
                <span><img src="https://s1.city.ac.uk/i/city-logo.png" alt="City University London" height="65" width="230"></span>
            </a>
        </h1>
        <h2>Student Gateway Beta</h2>
    </header><!--header-->
    <div id="content">



      <div class="row">

        <div class="twelve columns welcome">
          Hi «Name» <span class="sub">«Welcome of the week...»</span>
        </div>

      </div>

      <div class="row">

        <div class="eight columns">

          <div id="noticeboard" class="widget">
            <h2>Noticeboard</h2>

            <div class="widget-content">

              <ol class="eight columns alert-list">
                <li class="major alert">
                  <span class="foundicon-idea"></span> Snow update: College building still closed.</li>
                <li class="warning alert">
                  <span class="foundicon-"></span>Coursework deadline missed.</li>
                <li class="photos alert">
                  <span class="foundicon-photo"></span>Awesome photoshoot with/of/about the Vice-Chancellor.</li>
                <li class="closure">
                  <span class="foundicon-error"></span>Facility closed for repair, upgrade or something else.</li>
                <li class="finance alert">
                  <span class="foundicon-"></span>Finance or fee type alert.</li>
                <li class="event alert">
                  <span class="foundicon-calendar"></span>A worthy event is happening.</li>
                <li class="course-message alert">
                  <span class="foundicon-graph"></span>Exam or coursework result return message or alert.</li>
                <li class="it-service-desk alert">
                  <span class="foundicon-"></span>IT Service desk announcement.</li>
                <li class="twitter alert">
                  <span class="foundicon-twitter"></span>Tweet from S4S (or similar).</li>
                <li class="moodle alert">
                  <span class="foundicon-website"></span>Moodle 2.0 virtual learning environment goes live!</li>
                <li class="rss alert">
                  <span class="foundicon-rss"></span>CityNews for Students blog feed.</li>
              </ol>
              <section class="marketing-message four columns">
                <ol>
                  <li><img src="images/announcements/timetables.png" /></li>
                  <li><img src="images/announcements/su-exec.png" /></li>
                  <li><img src="images/announcements/service-desk.png" /></li>
                </ol>
              </section>
            </div>
          </div>

          <section class="six columns">

            <div id="email" class="widget">
              <div class="header">
                <h2>Email 365</h2>
                <a href="#">Inbox</a> | <a href="#">Calendar</a>
              </div>
              <ol class="widget-content">
                <li>Email 1</li>
                <li>Email 2</li>
                <li>Email 3</li>
                <li>Email 4</li>
                <li>Email 5</li>
                <li>Email 6</li>
                <li>...</li>
              </ol>
            </div>

            <div id="assignments" class="widget">
              <h2>Assignments, Exams</h2>
              <div class="widget-content">
              <h3>Assignments</h3>
              <dl>
                <dt>Practices and Theories in Interaction Design</dt>
                <dd>Due: Thursday 10 May, 4.05pm</dd>
                <dd><a href="#">1 submission <em>not</em> graded.</a></dd>
              </dl>
              <h3>Exams</h3>
              <dl>
                <dt>Exam 1</dt>
                <dd>Thursday 10 May, 4.05pm</dd>
              </dl>
              <a href="#">January Exam Timetable</a> | <a href="#">Exam Regulations</a>
              </div>
            </div>

            <div id="study-rooms" class="widget">
              <h2>Bookable Study rooms</h2>

              <div class="widget-content">

              <dl class="tabs ">
                <dd class="active"><a href="#bookable-study">Study Rooms</a></dd>
                <dd><a href="#bookable-assistive">Assistive Technology Rooms</a></dd>
              </dl>

              <ul class="tabs-content">
                <li id="#bookable-studyTab" class="active">
                  <table>
                    <thead>
                      <tr>
                        <th>Room</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>3A</td>
                        <td></td>
                        <td><a href="#">University Library</a></td>
                        <td>Available</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li id="#bookable-assistiveTab">
                  <table>
                    <thead>
                      <tr>
                        <th>Room</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>3A</td>
                        <td></td>
                        <td><a href="#">University Library</a></td>
                        <td>Available</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
              </ul>

              </div>
            </div>

          </section>

          <section class="six columns">

            <div id="calendar" class="widget live-data">
              <h2>Moodle Calendar</h2>

              <div class="widget-content">
                <div class="month-calendar">
                </div>
                <dl>
                  <!-- sample data:
                       <dt>10am</dt>
                  <dd><a href="#">Event of note</a></dd>
                  <dt>12pm</dt>
                  <dd><a href="#">Event of note</a></dd>
                  <dt>2.30pm</dt>
                  <dd><a href="#">Event of note</a></dd>
                  -->
                </dl>
              </div>

            </div>

            <div id="modules" class="widget live-data">
              <h2>Modules</h2>
              <dl class="widget-content">
                <dt><a href="#">No modules</a></dt>
                <!-- sample data:
                <dt>INM401 <a href="#">Information Architecture</a></dt>
                <dd class="discussion-board">
                  <dl>
                    <dt><a href="#">Best practice in educational video</a></dt>
                    <dd>11 posts since last login</dd>
                    <dt><a href="#">Even better practice in educational video</a></dt>
                    <dd>11 posts since last login</dd>
                    <dt><a href="#">Even more betterer practice in educational video</a></dt>
                    <dd>0 posts since last login</dd>
                  </dl>
                </dd>
                <dt>INM401 <a href="#">Inclusive Design</a></dt>
                <dt>INM401 <a href="#">Introduction to HCI</a></dt>
                <dd class="discussion-board">
                  <dl>
                    <dt><a href="#">Best practice in educational video</a></dt>
                    <dd>11 posts since last login</dd>
                  </dl>
                </dd>
                -->
              </dl>
            </div>

            <div id="files" class="widget">
              <div class="header">
                <h2>Office 365 Files</h2>
                <a href="#">All Files</a>
              </div>

              <ul class="files-list widget-content">
                <li class="folder">Coursework</li>
                <li class="folder">Photos</li>
                <li class="folder">Dissertation</li>
                <li class="folder">Groupwork
                  <ul>
                    <li class="folder">Super Amazing Groupwork Assignment</li>
                    <li class="word">Coursework coversheet v2.1 SoI</li>
                    <li class="word">Essay</li>
                    <li class="excel">Random Excel spreadsheet</li>
                    <li class="pdf">Academic Paper from portal</li>
                  </ul>
                </li>
                <li class="folder">Individual Assignments</li>
              </ul>

            </div>

          </section>

        </div>

        <section class="four columns">

          <div id="about" class="widget">
	    <h2>Student Name</h2>

            <div class="widget-content">

              <img src="http://www.geekpress.fr/wp-content/uploads/users/wordpress_avatar.jpg?s=50" class="" alt="Picture of <student name>" />
	      <dl>
                <dd><a href="#">&lt;Course name&gt;</a></dd>
                <dd><a href="#">&lt;Department&gt;</a></dd>
              </dl>
              <ul class="social-links">
                <li class="twitter">twitter</li>
                <li class="www">www</li>
                <li class="flickr">flickr</li>
                <li class="linkedin">linkedin</li>
                <li class="facebook">facebook</li>
                <li class="skype">skype</li>
              </ul>
            </div>
          </div>

          <div id="library" class="widget live-data">
	    <h2>Library</h2>

            <div class="widget-content">

	      <dl class="tabs">
	        <dd class="active"><a href="#lib-loans">Loans</a></dd>
	        <dd><a href="#lib-holds">Holds</a></dd>
	        <dd><a href="#lib-fines">Fines</a></dd>
	      </dl>

	      <ul class="tabs-content">
	        <li class="active" id="lib-loansTab">
                  <ol id="books"></ol>
                </li>
	        <li id="lib-holdsTab">
                  <ol id="holds"></ol>
                </li>
	        <li id="lib-finesTab">
                  <ol id="fines"></ol>
                </li>
	      </ul>
            </div>
          </div>

          <div id="computer-labs" class="widget live-data">
            <h2>Computer Labs</h2>
            <span class="updated">Updated at ...</span>
            <table class="widget-content">
              <thead>
                <tr>
                  <th>Room</th>
                  <th>Busyness</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>room</td>
                  <td>100% Busy</td>
                  <td>20</td>
                </tr>
              </tbody>
            </table>
          </div>

        </section>

      </div>

      <!-- templates follow (should these be in files for require?)-->
      <script type="text/template" id="course-template">
        <dt><a href="#" title="link to moodle?"><%= fullname %></a></dt>
        <dd>Discussion board details here.</dt>
      </script>

      <script type="text/template" id="course-table-template">
        <td><%= id %></td>
        <td><%= shortname %></td>
        <td><%= fullname %></td>
        <td><%= enrolledusercount %></td>
        <td><%= visible %></td>
        <td><%= showgrades %></td>
      </script>

      <script type="text/template" id="calendar-template">
        <dt class="dtstart"><%= start_date %> <%= start_time %></dt>
        <dd class="summary"><a href="#"><%= SUMMARY %></a></dd>
      </script>

      <script type="text/template" id="calendar-table-template">
        <td><%= SUMMARY %></td>
        <td><%= DESCRIPTION %></td>
        <td><%= start_date %></td>
        <td><%= start_time %></td>
      </script>

      <script type="text/template" id="book-template">
        <a href="<%= predictableURL %>"><%= title %></a> (<%= callNumber %>)<br />
        since: <% print(FP.Helpers.atomDateParser(dateCheckedOut)); %>,
        due on: <% print(FP.Helpers.atomDateParser(dueDate)); %>
      </script>

      <script type="text/template" id="book-table-template">
        <td><%= title %></td>
        <td><%= dueDate %></td>
        <td><%= callNumber %></td>
        <td><%= predictableURL %></td>
        <td><%= dateCheckedOut %></td>
      </script>

      <script type="text/template" id="fine-template">
        <% print(FP.Helpers.atomDateParser(datePaid)); %>, paid £<%= amountPaid %> for
        <a href="<%= predictableURL %>"><%= itemTitle %></a> (<%= chargeType %>)<br />
        <%= description %>
      </script>

      <script type="text/template" id="fine-table-template">
        <td><%= amountPaid %></td>
        <td><%= chargeType %></td>
        <td><% print(FP.Helpers.atomDateParser(datePaid)); %></td>
        <td><%= description %></td>
        <td><% print(FP.Helpers.atomDateParser(itemCheckoutDate)); %></td>
        <td><% print(FP.Helpers.atomDateParser(itemDateReturned)); %></td>
        <td><% print(FP.Helpers.atomDateParser(itemDueDate)); %></td>
        <td><%= itemLoanRule %></td>
        <td><%= itemRecordNum %></td>
        <td><a href="<%= predictableURL %>"><%= itemTitle %></a></td>
      </script>

      <script type="text/template" id="hold-template">
        <% print(FP.Helpers.atomDateParser(timeHoldPlaced)); %>
        <a href="<%= predictableURL %>"><%= title %></a> requested between
        <% print(FP.Helpers.atomDateParser(notWantedBefore)); %> -
        <% print(FP.Helpers.atomDateParser(notWantedAfter)); %> from
        <%= pickupLocationMeaning %>
      </script>

      <script type="text/template" id="hold-table-template">
        <td><% print(FP.Helpers.atomDateParser(notWantedAfter)); %></td>
        <td><% print(FP.Helpers.atomDateParser(notWantedBefore)); %></td>
        <td><%= pickupLocationMeaning %></td>
        <td><% print(FP.Helpers.atomDateParser(timeHoldPlaced)); %></td>
        <td><a href="<%= predictableURL %>"><%= title %></a></td>
      </script>

      <script type="text/template" id="person-template">
        <div class="header">
          <h2><%= fullname %></h2>
          <span class="edit foundicon-settings"></span>
        </div>
        <div class="widget-content">
          <img src="<%= profileimageurl %>" alt="<%= firstname %>'s profile image" />
          <ol>

            <!-- school -->
            <% if (typeof udbschoolid !== 'undefined'
                   && udbschoolid) { %>
            <li><%= udbschoolid %></li>
            <% } else { %>
            <!-- no school set -->
            <% } %>

            <!-- dept -->
            <% if (typeof udbdepartmentid !== 'undefined'
                   && udbdepartmentid) { %>
            <li><%= udbdepartmentid %></li>
            <% } else { %>
            <!-- no department set -->
            <% } %>

          </ol>
          <ol class="social-links">

            <% if (typeof twitter !== 'undefined') { %>
            <li class="skype"><%= skype %></li>
            <% } %>

            <% if (typeof url !== 'undefined') { %>
            <li class="url"><%= url %></li>
            <% } %>

            <% if (typeof flickr !== 'undefined') { %>
            <li class="flickr"><%= flickr %></li>
            <% } %>

            <% if (typeof linkedin !== 'undefined') { %>
            <li class="linkedin"><%= linkedin %></li>
            <% } %>

            <% if (typeof facebook !== 'undefined') { %>
            <li class="facebook"><%= facebook %></li>
            <% } %>

            <% if (typeof skype !== 'undefined') { %>
            <li class="skype"><%= skype %></li>
            <% } %>

          </ol>
        </div>
      </script>

      <script type="text/template" id="person-form-template">
        <form method="post" action="">
          <fieldset>
            <input type="upload" name="image" value="" />
          </fieldset>
          <fieldset>
          </fieldset>
        </form>
      </script>

      <script type="text/template" id="welcome-bar-template">
        Hi <%= givenname %>, <%= slogan %>
      </script>

      <script type="text/template" id="computer-room-template">
        <td><%= name %></td>
        <td class="chart"><% var t = available + inUse;
               print( parseFloat((t / 100) * inUse).toFixed(2) ); %>%</td>
        <td><% print(available + inUse); %></td>
      </script>

      <div id="working">Working...</div>
      <div id="error"></div>

    </div>
    <script>
        //need to use define for requirejs
        define([
            'jquery'
        ], function ($) {

            var $windowObj = $(window),
                windowWidth,
                $navToggler = $('#global-nav-toggler'),
                $globalNav = $('#global-nav1'),
                /* resize event handlers */
                didResize = false,
                breakpoints = { 
                    'tabletPortrait' : 768,
                    'phonePortrait' : 480
                };

            function getWindowWidth(){
                var wWidth =  Math.round($windowObj.width());
                return wWidth;
            }

            function windowResized(windowWidth) {

                if (windowWidth >= breakpoints.tabletPortrait) {
                    $navToggler.removeClass("active");
                    //clear any inline styles
                    $globalNav.removeAttr("style");
                }

            }

            function pageInit(){

                $navToggler.bind('click', function () {
                    $navToggler.toggleClass('active');
                    $globalNav.slideToggle('slow', function() {
                        $globalNav.toggleClass('active');
                    });
                });
            }//pageInit

            windowWidth = getWindowWidth();

            $windowObj.resize(function () {
                didResize = true;
            });

            setInterval(function() {
                if ( didResize ) {
                    didResize = false;
                    var newWindowWidth = getWindowWidth();

                    if (newWindowWidth !== windowWidth) {
                        windowWidth = newWindowWidth;
                        windowResized(windowWidth);
                    }
                }
            }, 250); // setInterval

            pageInit();

        });
    </script>
  </body>
</html>
